[theme="light"] {
    --background-color: white;
    --text-color: black;
}

[theme="dark"] {
    --background-color: black;
    --text-color: white;
}

:root {
    --text-size: 1em;
    font-size: var(--text-size);
    background-color: var(--background-color);
  }
  

.form-input {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    cursor: pointer;
}
.form-input, .form-input:active, .form-input:focus {
    outline: none;
}
.form-input:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

#viewer {
    width: 80vw;
    opacity: 0.5;
}

#sidebar {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--text-color);
}

#buttons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#datepicker {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

select {
    width: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
}
#year-picker {
    border-bottom: none;
}
#month-picker {
    border-top: none;
    border-bottom: none;
}
#day-picker {
    border-top: none;
}

#first {
    border-right: none;
}
#previous {
    border-right: none;
    border-left: none;
}
#next {
    border-right: none;
    border-left: none;
}
#latest {
    border-left: none;
}