:root {
    --text-size: 1em;
  }
  

.options {
    width: 85vw;
}

.form-label {
    width: 40%;
}

.form-entry {
    display: flex;
    flex-direction: row;
}

.form-input{
    width: auto;
    width: 60%
}
.form-input, .form-input:active, .form-input:focus {
    outline: none;
}

#dark-mode-toggle {
    align-self: center;
    border-radius: 0%;
    border: 1px solid black;
}

#font-size {
    align-self: center;
    -webkit-appearance: none;
    height: 1px;
    background-color: black;
    outline: none;
}
#font-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

#save-location {
    align-self: center;
    border-radius: 0%;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}