.options {
    width: 75vw;
}

.form-label {
    width: 50%;
}

.form-entry {
    display: flex;
    flex-direction: row;
}

.form-input{
    width: auto;
}

#dark-mode-toggle {
    align-self: center;
}