[theme="light"] {
    --background-color: white;
    --text-color: black;
  }
  
[theme="dark"] {
    --background-color: black;
    --text-color: white;
  }

.options {
    width: 85vw;
}

.form-label {
    width: 40%;
    color: var(--text-color);
}

.form-entry {
    display: flex;
    flex-direction: row;
}

.form-input{
    width: auto;
    width: 60%;
    color: var(--text-color);
}
.form-input, .form-input:active, .form-input:focus {
    outline: none;
}

#theme-picker {
    align-self: center;
    border-radius: 0%;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
}

#font-size {
    align-self: center;
    -webkit-appearance: none;
    height: 1px;
    background-color: var(--text-color);
    outline: none;
}
#font-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
}

#save-location {
    align-self: center;
    border-radius: 0%;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    cursor: pointer;
}